/* custom variables */
:root {
  /* primary colors */
  --clr-red: hsl(0, 100%, 68%);
  --clr-red-hover: hsl(0, 100%, 78%);

  /* neutral colors */
  --clr-very-dark-blue: hsl(230, 29%, 20%);
  --clr-dark-grayish-blue: hsl(230, 11%, 40%);
  --clr-grayish-blue: hsl(231, 7%, 65%);
  --clr-grayish-blue-a: hsla(231, 7%, 65%, 0.5);
  --clr-light-grayish-blue: hsl(207, 33%, 95%);
  --clr-light-grayish-blue-body: hsl(207, 33%, 98%);
  --clr-white: hsl(0, 0%, 100%);

  /* box shadow colors */
  --clr-bs: hsla(230, 29%, 20%, 0.2);

  /* typography */

  /* headings, call-to-actions, navigation */
  --ff-headings: 'Barlow Condensed', sans-serif;
  /* body */
  --ff-body: 'Barlow', sans-serif;

  --fs-normal-mobile: 1.6rem;
  --fs-text-mobile: 1.83rem;
  --fs-nav-mobile: 1.8rem;
  --fs-h1-mobile: 4rem;
  --fs-CTA-mobile: 1.375rem;

  --fs-normal-desktop: 1.6rem;
  --fs-nav-desktop: 1.6rem;
  --fs-h1-desktop: 6.4rem;
  --fs-CTA-desktop: 1.63rem;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* set-up */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  font-size: var(--fs-normal-mobile);
  color: var(--clr-dark-grayish-blue);
}

.intro {
  position: relative;
  width: 37.5rem;
  /* height: 80rem; */
  box-shadow: 0 0 1rem var(--clr-bs);
}

.intro::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 37.4rem;
  background-color: var(--clr-light-grayish-blue);
  border-bottom-left-radius: 6rem;
  z-index: -10;
}

@media (min-width: 65em) {
  body {
    font-size: var(--fs-normal-desktop);
  }

  .intro {
    width: 144rem;
    height: 80rem;
  }

  .intro::before {
    left: 51.3%;
    bottom: 37.4rem;
  }
}

/* header */
.intro__header {
  padding: 3.7rem 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 2.4rem;
  height: auto;
}

@media (min-width: 65em) {
  .intro__header {
    padding: 6.4rem 16rem 0 16.5rem;
  }
  
  .header__logo {
    width: auto;
    height: 3.2rem;
  }
}

/* navigation */
.nav-links {
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.nav-links a {
  color: var(--clr-very-dark-blue);
}

.nav-links li:last-child a {
  color: var(--clr-grayish-blue);
}

.nav-links a:not(.nav__divider):hover {
  text-decoration: underline;
}

/* mobile navigation only*/
.hamburger-icon {
  display: block;
  cursor: pointer;
}

.navigation-mobile .nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9.8rem;
  left: 0;
  right: 0;
  width: 83.5%;
  max-width: 40rem;
  margin: 0 auto;
  font-size: var(--fs-nav-mobile);
  letter-spacing: 0.1rem;
  text-align: center;
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--clr-bs);
}

.navigation-mobile .nav-links li:first-child {
  margin-top: 2.45rem;
}

.navigation-mobile .nav-links li:not(:first-child) {
  margin-top: 2.4rem;
}

.navigation-mobile .nav-links li:last-child {
  margin-bottom: 2.4rem;
}

.nav__divider {
  width: 85%;
  height: 0.1rem;
  margin: 0 auto;
  background-color: var(--clr-grayish-blue-a);
}

.navigation {
  display: none;
}

/* navigation desktop only */
@media (min-width: 65em) {
  .navigation {
    display: block;
  }

  .navigation .nav-links {
    display: flex;
    align-items: center;
    gap: 4.3rem;
    font-size: var(--fs-nav-desktop);
    letter-spacing: 0.05rem;
  }
  
  .nav__divider {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
  }

  .navigation-mobile {
    display: none;
  }
}

/* intro grid container */
.intro__grid-container {
  overflow: hidden;
}

@media (min-width: 65em) {
  .intro__grid-container {
    display: grid;
    grid-template-columns: 52% 48%;
    grid-template-areas: 'text image';
    align-items: center;
    margin-top: 5.4rem;
    margin-bottom: 12.5rem;
  }
}

.intro__image {
  width: 137%;
  margin-top: 5.9rem;
  padding-left: 0.8rem;
}

@media (min-width: 65em) {
  .intro__image {
    grid-area: image;
    width: 139.5%;
    padding-left: 0;
  }
}

/* main section */
.intro__main {
  margin-top: 8.7rem;
  padding: 0 3.1rem;
  font-family: var(--ff-headings);
  text-transform: uppercase;
}

@media (min-width: 65em) {
  .intro__main {
    grid-area: text;
    padding-left: 16.5rem;
  }
}

.intro__new-container {
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
}

.intro__new {
  padding: 0.2rem 0.9rem 0.4rem 1.1rem;
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  letter-spacing: 0.1rem;
  background-color: var(--clr-very-dark-blue);
  border-radius: 1.5rem;
}

.intro__new-text {
  color: var(--clr-grayish-blue);
  letter-spacing: 0.45rem;
}

.intro__title {
  margin-top: 1.55rem;
  font-size: var(--fs-h1-mobile);
  font-weight: var(--fw-bold);
  color: var(--clr-very-dark-blue);
  line-height: 1;
}

.intro__text {
  margin-top: 1.5rem;
  padding-right: 2rem;
  font-family: var(--ff-body);
  font-size: var(--fs-text-mobile);
  text-transform: none;
  line-height: 1.45;
}

@media (min-width: 65em) {
  .intro__title {
    margin-top: 1.7rem;
    font-size: var(--fs-h1-desktop);
    line-height: 1;
  }

  .intro__text {
    margin-top: 3rem;
    padding-right: 28rem;

  }
}

.intro__CTA-container {
  display: flex;
  align-items: baseline;
  gap: 1.9rem;
  margin-top: 2.7rem;
  padding-bottom: 9.1rem;
  font-size: var(--fs-CTA-mobile);
}

.intro__CTA-button {
  min-width: 15.4rem;
  padding: 1.1rem 2.5rem 1.2rem;
  font-family: var(--ff-headings);
  font-size: var(--fs-CTA-mobile);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: var(--clr-red);
  border: none;
  border-radius: 0.5rem;
}

.intro__CTA-button:hover,
.intro__CTA-button:focus {
  background-color: var(--clr-red-hover);
}

.intro__CTA-text {
  color: var(--clr-grayish-blue);
  letter-spacing: 0.25rem;
}

@media (min-width: 65em) {
  .intro__CTA-container {
    gap: 2.3rem;
    margin-top: 6.4rem;
    padding-bottom: 3rem;
    font-size: var(--fs-CTA-desktop);
  }

  .intro__CTA-button {
    min-width: 15.4rem;
    padding: 1.5rem 3.3rem 1.35rem;
    font-size: var(--fs-CTA-desktop);
    border-radius: 0.7rem;
  }

  .intro__CTA-text {
    letter-spacing: 0.45rem;
  }
}

/* attribution */
.attribution {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;
}